#url-table {
    table-layout: auto;
}

#url-table td, #url-table th {
    vertical-align: inherit;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

#url-edit, #url-remove, #url-add {

    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0.1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;

}

#icon {
    line-height: 1.2;
}
